@import "../../GlobalStyles/global.css";

header {
    height: 15%;
    overflow: no-display;
    border-bottom: 1px solid white;
}

main {
    height: 75%;
}

footer {
    clear: both;
    height: 5%;
}
hr {
    border: solid black 1px;
}
p{
    font-family: Optima, sans-serif;
    text-align: left;
    word-spacing: 3px
}
h2{
    color: whitesmoke;
    text-align: left;
    font-family: "Andale Mono", sans-serif;
}

#textWrapper {
    width: 60%;
    height: 100%;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
}

