@import "../../GlobalStyles/global.css";

html,body{
    background-color: black;
    color: white;
    height: 100%;
}
header{
    height: 20%;
    overflow: no-display;
    border-bottom: 1px solid white ;
}
main{
    height: 75%;
}
footer{
    clear: both;
    height: 5%;
}
h1{
    font-size: 50px;
    text-align: center;
}
#Wrapper{
    width: 100%;
    height: 100%;
}
#Button-Array{
    height: 100%;
    float: left;
    width : 20%;
}
.mainMenu-Button {
    background-color: black;
    border-color: white;
    border-radius: 12px;
    color: white;
    margin-top: 10%;
    height: 10%;
    width : 100%;
 }