@import "../../GlobalStyles/global.css";
a {
    color:orange;
    text-decoration:none;
}
a:hover, a:focus {
    text-decoration:underline;
}
input[type="button"]{
    background-color: black;
    border-color: white;
    border-radius: 12px;
    color: white;
    margin-top: 10%;
    height: 10%;
    width : 10%;
}