@import "../../GlobalStyles/global.css";

h2 {
    color: whitesmoke;
    text-align: left;
    font-family: "Andale Mono", sans-serif;
}

p {
    font-family: Optima sans-serif;
    text-align: justify;
    word-spacing: 3px
}

hr {
    border: solid black 1px;
}

#textWrapper {
    width: 75%;
    margin-top: 5%;
}

#Wrapper {
    width: 100%;
    height: 100%;
}

#listWrapper {
    margin-right: 5%;
    margin-top: 5%;
}
