@import "../../GlobalStyles/global.css";
html, body {
    background-color:  #fcae73;
    color: black;
    height: 100%;
    overflow: hidden;
}
h2{
    color: indianred;
    font-family: "Andale Mono";
}
p{
    font-family: Optima;
}
hr{
    border: solid black 1px;
}

#textWrapper {
    width: 75%;
    margin-top: 5%;
}
#Wrapper{
    width: 100%;
    height: 100%;
}
#listWrapper{
    margin-right: 5%;
}
