@import "../../GlobalStyles/global.css";

header {
    height: 15%;
    overflow: no-display;
    border-bottom: 1px solid black;
}

main {
    height: 75%;
}

footer {
    clear: both;
    height: 5%;
}
hr{
    border: solid black 1px;
}
p{
    font-family: Comic Sans MS, sans-serif;
}
form {
    width: 15em;
    float: right;
}
input {
    width: 86%;
    margin-bottom: 2em;
}
#formWrapper{
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}
#warpperEntries{
    float: left;
    padding-left: 5%;
    padding-top: 5%;
    width: 55%;
}
#inputName{
    font-family: "Arial" ,sans-serif;

}
#save{
    background-color: palegreen;
}
ol#entries {
    width: 50%;
    border: 1px solid #a9a9a9;
    border-radius: 5px;
    margin-top: 10px;
    list-style-type: none;
}
ol#entries li {
    border-bottom: 1px solid #a9a9a9;
    padding: 10px;
    color: mediumslateblue;
    background-image: linear-gradient(#f9f9f9, #e3e3e3);
    font-family: cursive;
}
ol#entries li:last-child {
    color: darkred;
    border-bottom: none;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
ol#entries li:first-child {
    color: darkgoldenrod;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}