@import "../../GlobalStyles/global.css";
html, body {
    background-color: black;
    color: white;
    height: 100%;
    overflow: hidden;
}
#gameWrapper{

}
#canv {
    width: 480px;
    height: 640px;
    float: left;
} 