ul{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    width: 80px;

}

li a{
    text-align: center;
    display: block;
    color: black;
    background-color: white;
    border: 5px yellow;
    border-radius: 12px;
    margin-top: 20%;
    margin-bottom: 20%;
}

li a:hover{
    background-color: dimgray;
    color: white;
}

li a.active{
    background-color: yellow;
    color: black;
}
#Wrapper {
    width: 20%;
    height: 100%;
    float: left;
}