ul{
    list-style-type: none;
    background-color:  #ee3e61;

    width: 100%;

}

li a{
    text-align: center;
    display: block;
    color: black;
    background-color: floralwhite;
    padding: 3%;

    border: 20px ;
    border-radius: 12px;
    margin-bottom: 10%;

}

li a:hover{
    background-color: indianred;
    color: whitesmoke;
}

li a.active{
    color: black;
    border-color: brown;

    border-width: medium;
    border-style: inset;
}
#listWrapper {
    width: 30%;
    height: 100%;
    float: left;
    margin-top: 5%;
}
