@import "../../GlobalStyles/global.css";

hr {
    border: solid black 1px;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

table {
    width: 100%;
}

th {
    background-color: #414141;
    color: whitesmoke;
    font-family: "Andale Mono", sans-serif;
    background-color: black;
}

td {
    text-align: left;
    font-size: 125%;
    font-family: Optima;
}

tr:nth-child(even) {
    background-color: floralwhite;
}

tr:nth-child(odd) {
    background-color: white;
}

tbody tr:hover, tfoot tr:hover {
    background-color: #de9595;
}

tbody td:hover, tfoot td:hover {
    background-color: indianred;
}

#Wrapper {

}

#Table {
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 50%;
}

