@import "../../GlobalStyles/global.css";
html, body {
    background-color: lightgrey;
    color: black;
    height: 100%;
    overflow: hidden;
}
hr{
    border: solid black 1px;
}
h1{
    text-align: center;
}
table, td, th {
    border: 1px solid black;
}
th, td {
    padding: 15px;
}
table{
    width: 100%;
}
th{
    background-color: #414141;
    color: whitesmoke;

}
td{
    text-align: left;
    font-size: 125%;
}
tr:nth-child(even) {background-color: whitesmoke;}

#Wrapper{

}
#Table{
    float: left;
    margin-left: 5%;
    margin-top: 5%;
    width: 50%;
}

